//--------
// Layout
//
// Core/over arching layout structures defining sitewide zones

// Application container
.peer-chat {
  min-width: 380px;
  padding: $fg-gutter;
  overflow: auto;
  border: 1px solid $default-border-color;

  // Primary columns
  .pc-col {
    height: 100%;
    border: 1px solid $default-border-color;
  }

  // Chat window column
  .pc-col-1 {
    @include fg-col($mod: '3/4');
    .pc-window {
      .user-message-item {
        .user-name {
        }
        .user-message {
        }
        &.me {
          .user-name {
            font-weight: 800;
          }
        }
      }
    }
  }

  // User list column
  .pc-col-2, .user-list {
    @include fg-col($mod: '1/4');
    overflow-y: auto;
    overflow-x: hidden;
    .user-list-item {
      padding: 4px 6px;
      overflow: hidden;
      border-bottom: 1px solid $default-border-color;
      cursor: default;
      .user-name-change-input {
        border: 0;
        padding: 0;
      }
      &.me {
        font-weight: 800;
      }
    }
  }

  // Chat window
  .pc-window {
    height: 200px;
    padding: 4px 6px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // Chat text input
  .pc-text-input-container {
    .pc-text-input {
      width: 100%;
      padding: 4px 6px;
      border: 1px solid $default-border-color;
      border-left: none;
      border-right: none;
      border-bottom: none;
      resize: none;
    }
  }
}
