//--------
// Layout
//
// Core/over arching layout structures defining sitewide zones

// Application container
.peer-chat {
  min-width: 380px;
  padding: $fg-gutter;
  position: relative;
  overflow: auto;
  border: 1px solid $default-border-color;

  // Contains indicators of open channels
  .pc-channels-overview {
    margin-bottom: $fg-gutter;
    max-height: 120px;
    position: relative;
    overflow-y: auto;
    .pc-channel-label,
    .pc-channel-label--add-channel {
      padding: 2px 4px;
      float: left;
      margin-right: 10px;
      margin-bottom: 5px;
      border: 2px solid $default-border-color;
      border-radius: 4px;
      background: $default-bg-color;
      cursor: pointer;
      font-size: 0.80rem;
      &:hover {
      }
      &.active {
        border: 2px solid $heros-blue;
      }
      &.control {
        font-weight: bold;
      }
      .text {
        font-weight: bold;
      }
      .meta {
      }
      .button {
        display: inline-block;
        margin-left: 6px;
        color: $heros-blue;
        font-family: "FontAwesome";
        font-weight: lighter;
        transition: color $trans-speed $trans-ease;
        &:hover {
          color: $my-black;
          transition: color $trans-speed $trans-ease;
        }
      }
    }
  }

  // Contains open channel windows
  .pc-channels-container {
    .pc-channel {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  // Primary columns
  .pc-col {
    height: 100%;
    border: 1px solid $default-border-color;
  }

  // Chat window column
  .pc-col-1 {
    @include fg-col($mod: '3/4');
    .pc-window {
      .user-message-item,
      .user-message-action,
      .user-message-private,
      .user-message-name-change,
      .user-message-name-unavailable,
      .user-message-left-channel,
      .user-message-joined-channel,
      .user-message-ping-request,
      .user-message-ping-answer,
      .user-message-ignore-add,
      .user-message-ignore-remove,
      .user-message-help,
      .user-message-list-all,
      .user-message-list-user,
      .user-message-whois,
      .user-message-whois-request,
      .user-message-whois-error,
      .user-message-rtc {
        .user-col {
        }
        .user-name {
        }
        .user-message {
        }
        &.me {
          .user-name {
            font-weight: 800;
          }
        }
      }
      .user-message-action,
      .user-message-private,
      .user-message-name-change,
      .user-message-name-unavailable,
      .user-message-left-channel,
      .user-message-joined-channel,
      .user-message-ping-request,
      .user-message-ping-answer,
      .user-message-ignore-add,
      .user-message-ignore-remove,
      .user-message-whois,
      .user-message-whois-request,
      .user-message-whois-error,
      .user-message-error {
        color: $heros-blue;
        font-weight: bold;
      }

      // /HELP
      .user-message-help {
        .command {
          color: $heros-blue;
          font-family: courier, monospace;
        }
      }

      // /LIST
      .user-message-list-all,
      .user-message-list-user {
        .list-title {
          .channel-command {
            color: $heros-blue;
            font-weight: bold;
          }
        }
        .list-row {
          .channel-name {
            color: $heros-blue;
            font-weight: bold;
          }
        }
        .channel-info {
          color: $heros-blue;
        }
      }

      // /RTC
      .user-message-rtc,
      .user-message-rtc-error {
        .user-name,
        .user-message {
          color: $heros-blue;
          font-weight: bold;
        }
      }
    }
  }

  // User list column
  .pc-col-2, .user-list {
    @include fg-col($mod: '1/4');
    overflow-y: auto;
    overflow-x: hidden;
    .user-list-item {
      font-size: 0.80rem;
      padding: 4px 6px;
      overflow: hidden;
      border-bottom: 1px solid $default-border-color;
      cursor: default;
      .user-name-change-input {
        border: 0;
        padding: 0;
      }
      &.me {
        font-weight: bold;
      }
    }
  }

  // Chat window
  .pc-window {
    height: 200px;
    padding: 4px 6px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // Chat text input
  .pc-text-input-container {
    .pc-text-input {
      width: 100%;
      padding: 4px 6px;
      border: 1px solid $default-border-color;
      border-left: none;
      border-right: none;
      border-bottom: none;
      resize: none;
    }
  }

  // Messaging container
  .pc-messaging-container {
    position: absolute;
    top: 0;
    left: 0;
    color: $naru-silver;
    background: $trans-bg-color;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    .message-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      padding: 4px 8px;
      background: $my-black;
      border: 2px solid $naru-silver;
      border-radius: 4px;
      max-width: 50%;
      text-align: center;
    }
  }
}
