<!-- User Message Help -->
<div class="user-message-help" data-peer-id="<%= peer_id %>">
    <p>
        Welcome to peer-chat! The simple web based peer-to-peer chat client. For more information visit
        <a href="https://github.com/Xaxis/peer-chat">https://github.com/Xaxis/peer-chat</a>.
    </p>
    <p>
        <span class="command">/clear</span>:
        <br>
        Clears content from a channels chat window. E.g. <code>/clear</code>
    </p>
    <p>
        <span class="command">/help /h</span>:
        <br>
        List application help information. E.g. <code>/help</code>
    </p>
    <p>
        <span class="command">/ignore</span>:
        <br>
        Ignore a specified user. E.g. <code>/ignore anony9999</code>
    </p>
    <p>
        <span class="command">/join</span>:
        <br>
        Used to connect to a given channel. E.g. <code>/join #somechannel</code>
    </p>
    <p>
        <span class="command">/list /l</span>:
        <br>
        Shows a list of available channels. E.g. <code>/list</code>
        <br>
        Shows a list of a peer's active channels. E.g. <code>/list anony9999</code>
    </p>
    <p>
        <span class="command">/me</span>:
        <br>
        Send an action message. E.g. <code>/me Waves!</code>
    </p>
    <p>
        <span class="command">/msg /chat /notice /query</span>:
        <br>
        Sends a message to a specific peer. E.g. <code>/msg anony9999 Words for your face only!</code>
    </p>
    <p>
        <span class="command">/nick</span>:
        <br>
        Change your user name. E.g. <code>/nick myNewName</code>
    </p>
    <p>
        <span class="command">/part /close</span>:
        <br>
        Leave this channel. E.g. <code>/part</code>
    </p>
    <p>
        <span class="command">/partall /closeall</span>:
        <br>
        Leave all channels. E.g. <code>/partall</code>
    </p>
    <p>
        <span class="command">/ping</span>:
        <br>
        Retrieve a time-to-response from peer. E.g. <code>/ping PeerName</code>
    </p>
    <p>
        <span class="command">/whois</span>:
        <br>
        Get information on a peer. E.g. <code>/whois anony9999</code>
    </p>
</div>

